@charset "UTF-8";
* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

h1 {
  background-color: aliceblue;
  margin: 0 auto;
}

nav {
  border: 1px blue;
  border-radius: 8px;
  width: 100%;
  height: auto;
  padding-bottom: 3px;
  padding-top: 3px;
  background-color: azure;
  align-items: center;
}
nav :hover {
  background-color: rgb(219, 228, 234);
}
nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
nav ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0 auto;
  justify-content: center;
}

h2 {
  width: 95%;
  border: blue;
  border-radius: 8px;
  background-color: azure;
}

.bienvenida {
  display: grid;
  width: 100%;
  padding-bottom: 10px;
  grid-template-areas: "comentarios1 ar cost1" " comentarios2 ab cost2";
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 50% 50%;
  margin-left: 6px;
}

.comentarios1 {
  grid-area: comentarios1;
  border: 1px solid blue;
  border-radius: 8px;
}

.comentarios2 {
  grid-area: comentarios2;
  border: 1px solid blue;
  border-radius: 8px;
}

.ar {
  grid-area: ar;
  width: 120px;
  height: 120px;
}

.ab {
  grid-area: ab;
  width: 120px;
  height: 120px;
}

.cost1 {
  grid-area: cost1;
  width: 120px;
  height: 120px;
}

.cost2 {
  grid-area: cost2;
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 600px) {
  .bienvenida {
    display: grid;
    grid-template-areas: "ar      ab" "comentarios1 comentarios1 " "comentarios2 comentarios2" " cost1 cost2";
    grid-template-columns: 48% 48%;
    grid-template-rows: 24% 26% 26% 24%;
  }
}
.comentarios1 {
  font-size: 14px;
}

.comentarios2 {
  font-size: 14px;
}

#fotos {
  width: 95%;
  border: 2px black solid;
  display: grid;
  padding-bottom: 5px;
  margin: 0 auto;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 48% 28% 24%;
  grid-template-areas: "izq      cent        der" "bot      bot        bot" "parrafos parrafos parrafos";
}

.izq {
  grid-area: izq;
  margin-left: 2px;
  margin-top: 2rem;
  width: 95%;
  height: 80%;
}

.cent {
  grid-area: cent;
  margin-left: 2px;
  margin-top: 2rem;
  width: 95%;
  height: 80%;
}

.der {
  grid-area: der;
  margin-left: 2px;
  margin-top: 2rem;
  width: 95%;
  height: 80%;
}

.bot {
  background-color: rgb(227, 233, 238);
  grid-area: bot;
  text-align: center;
  border: 1px solid blue;
  margin-left: 2px;
  border-radius: 8px;
  margin-top: 2rem;
}

.parrafos {
  background-color: rgb(227, 233, 238);
  grid-area: parrafos;
  text-align: center;
  border: 1px solid blue;
  border-radius: 8px;
  margin-top: 2rem;
}

@media screen and (max-width: 650px) {
  #fotos {
    grid-template-columns: 95%;
    grid-template-rows: 21% 21% 21% 20% 17%;
    grid-template-areas: "izq " "cent" "der" "bot" "parrafos";
  }
}
.bot {
  font-size: 15px;
}

.parrafos {
  font-size: 15px;
}

nav ul {
  font-size: 11px;
}

footer {
  width: 95%;
  height: 20%;
  background-color: azure;
  border: 1px solid blue;
  border-radius: 8px;
  margin: 0 auto;
}
footer :hover {
  background-color: rgb(212, 255, 0);
}

div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.icons {
  width: 38px;
  height: 38px;
}

.misc {
  display: flex;
  background-color: antiquewhite;
  margin: 0 auto;
}

.nuevostitulos {
  display: inline-block;
  width: 100%;
  background-color: antiquewhite;
  padding: 5px;
}

.col-12 {
  border: 1px solid brown;
}

.col-10 {
  border: 1px solid brown;
}

.col-8 {
  border: 1px solid brown;
}

.textarea {
  border: 1px solid brown;
}

#clientes {
  text-align: center;
}

#consorcios {
  text-align: center;
}

#top {
  text-align: center;
}

.foto {
  background-color: beige;
}

#consulta {
  background-color: blanchedalmond;
  width: 95%;
}

details {
  background-color: azure;
  padding: 0.3rem;
  border-radius: 8px;
  margin: 0.5rem;
}

summary {
  list-style-type: circle;
}

#muñeco p {
  font-size: 15px;
}

#consulta {
  margin: 0 auto;
}

.muñequitos {
  border: 2px solid blue;
  border-radius: 8px;
  display: flex;
  width: 95%;
  height: auto;
  margin: 0 auto;
  align-items: center;
  justify-content: left;
  margin-bottom: 3px;
}

.muñe {
  width: 95%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
