* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 150 vph;
}

body #encabezado {
    background-color: aliceblue;
    height: 20px;
    width: auto;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

nav {
    display: flex;
    background-color: azure;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    justify-content: space-around;
}

nav :hover {
    background-color: rgba(0, 255, 200, 0.563);
}

section {
    display: block;
    margin-left: 10px;
    width: 100%;
    max-height: 20%;
}

main #fotos {
    max-height: 40% vp;
    display: grid;
    grid-template-areas:
        "izq cent der"
        "izq cent der"
        "izq cent der"
        "bot bot bot";
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 30% 30% 30% 10%;
    column-gap: 2px;
}

.izq {
    background-color: cornsilk;
    grid-area: izq;
}

.cent {
    background-color: rgba(222, 226, 235, 0.914);
    grid-area: cent;
}

.der {
    background-color: rgb(80, 162, 255);
    grid-area: der;
}

.bot {
    height: min-content;
    background-color: honeydew;
    grid-area: bot;
    text-align: center;
}

#parrafos {
    height: min-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-style: oblique;
    margin-left: 5px;
}

#parrafos {
    height: auto;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: azure;
    width: 100%;
    height: 25px;
}

#pie {
    display: inline-flex;
    justify-content: space-around;
}

#num {
    display: inline-flex;
    justify-content: space-around;
}

#finales {
    display: inline-block;
    width: 100%;
    height: min-content;
}

.card {
    display: inline-flex;
    background-color: antiquewhite;
    margin-left: 50%;
}

.misc {
    display: inline-flex;
    background-color: antiquewhite;
    margin-left: 50%;
}

.nuevostitulos {
    display: inline-block;
    width: 100%;
    background-color: antiquewhite;
    padding: 5px;
}

#clientes {
    text-align: center;
}

#consorcios {
    text-align: center;
}

#top {
    text-align: center;
}

#cuerpo {
    background-image: url(./imagenesweb/logo.jpeg);
}