* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: max-content 1440px;
    margin: 0 auto;
}

#encabezado {
    background-color: aliceblue;
    width: 90%;
    height: 18px;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    align-items: center;
}

nav ul {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid blue;
    font-size: 16px;
    display: flex;
    background-color: azure;
    width: 95%;
    height: 25px;
    list-style-type: none;
    justify-content: space-around;
}

nav :hover {
    background-color: rgb(212, 255, 0);
}

h2 {
    width: 95%;
    border: 1px solid blue;
    border-radius: 8px;
    background-color: gainsboro;
}

section #comentarios {
    display: block;
    margin-left: 5px;
    width: 95%;
    border: 1px solid blue;
    border-radius: 8px;
}

main #fotos {
    width: 98%;
    padding: 3px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 60% 1fr 1fr;
    grid-template-areas: "izq      cent        der"
        "bot      bot        bot"
        "parrafos parrafos parrafos";

}

.izq {
    grid-area: izq;
    border: 1px solid blue;
    margin-left: 2px;
    padding-left: 5px;
    border-radius: 8px;

}

.cent {
    grid-area: cent;
    border: 1px solid blue;
    margin-left: 2px;
    border-radius: 8px;
}


.der {
    grid-area: der;
    border: 1px solid blue;
    margin-left: 2px;
    border-radius: 8px;
}

.bot {
    background-color: rgb(227, 233, 238);
    grid-area: bot;
    text-align: center;
    border: 1px solid blue;
    margin-left: 2px;
    border-radius: 8px;
}

.parrafos {
    background-color: rgb(227, 233, 238);
    grid-area: parrafos;
    text-align: center;
    border: 1px solid blue;
    margin-left: 2px;
    border-radius: 8px;
}

@media screen and (max-width:650px) {
    main #fotos {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 15% 10%;
        grid-template-areas: "izq "
            "cent"
            "der"
            "bot"
            "parrafos";

    }

    nav ul {
        font-size: 11px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    background-color: white;
    border: 1px solid blue;
    border-radius: 8px;
}

footer :hover {
    background-color: snow;
}

#pie {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#finales .card {
    display: flex;
    margin-left: 50%;
}

.misc {
    display: flex;
    background-color: antiquewhite;
    margin: 0 auto;
}

.nuevostitulos {
    display: inline-block;
    width: 100%;
    background-color: antiquewhite;
    padding: 5px;
}

#clientes {
    text-align: center;
}

#consorcios {
    text-align: center;
}

#top {
    text-align: center;
}

.foto {
    background-image: url(./imagenesweb/logo.jpeg);
}

#consulta {
    background-color: blanchedalmond;
}

details {
    background-color: azure;
    padding: 0.3rem;
    border-radius: 5px;
    margin: 0.5rem;
}

summary {
    list-style-type: square;

}