$color-bor: blue;
$color-back: azure;
$border-r: 8px;

body {
    margin: 0 auto;
}

h1 {
    background-color: aliceblue;
    margin: 0 auto;
}

nav {
    border: 1px $color-bor;
    border-radius: $border-r;
    width: 100%;
    height: auto;
    padding-bottom: 3px;
    padding-top: 3px;
    background-color: $color-back;
    align-items: center;

    & :hover {
        background-color: rgb(219, 228, 234);
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;

        li {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            margin: 0 auto;
            justify-content: center;

        }
    }
}

h2 {
    width: 95%;
    border: $color-bor;
    border-radius: $border-r;
    background-color: $color-back;
}

.bienvenida {
    display: grid;
    width: 100%;
    padding-bottom: 5px;
    grid-template-areas: "comentarios1 ar cost1"
        " comentarios2 ab cost2";
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 50%;
}

.comentarios1 {
    grid-area: comentarios1;
    border: 1px solid $color-bor;
    border-radius: $border-r;
}

.comentarios2 {
    grid-area: comentarios2;
    border: 1px solid $color-bor;
    border-radius: $border-r;
}

.ar {
    grid-area: ar;

}

.ab {
    grid-area: ab;

}

.cost1 {
    grid-area: cost1;
}

.cost2 {
    grid-area: cost2;
}

@media screen and (max-width:600px) {
    .bienvenida {
        display: grid;
        grid-template-areas: "ar      ab"
            "comentarios1 comentarios1 "
            "comentarios2 comentarios2"
            " cost1 cost2";
        grid-template-columns: 50% 50%;
        grid-template-rows: 26% 24% 24% 26%;
    }
}

#fotos {
    width: 100%;
    padding: 3px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 60% 18% 22%;
    grid-template-areas: "izq      cent        der"
        "bot      bot        bot"
        "parrafos parrafos parrafos";
}

.izq {
    grid-area: izq;
    margin-left: 2px;
    margin-top: 2rem;
}

.cent {
    grid-area: cent;
    margin-left: 2px;
    margin-top: 2rem;
}

.der {
    grid-area: der;
    margin-left: 2px;
    margin-top: 2rem;
}

.bot {
    background-color: rgb(227, 233, 238);
    grid-area: bot;
    text-align: center;
    border: 1px solid $color-bor;
    margin-left: 2px;
    border-radius: $border-r;
    margin-top: 1rem;
}

.parrafos {
    background-color: rgb(227, 233, 238);
    grid-area: parrafos;
    text-align: center;
    border: 1px solid $color-bor;
    margin-left: 2px;
    border-radius: $border-r;
    margin-top: 1rem;

}

@media screen and (max-width:650px) {
    #fotos {
        grid-template-columns: 90%;
        grid-template-rows: 24% 24% 24% 14% 14%;
        grid-template-areas: "izq "
            "cent"
            "der"
            "bot"
            "parrafos";
    }
}

nav ul {
    font-size: 11px;
}

footer {
    width: 60%;
    height: 20%;
    background-color: $color-back;
    border: 1px solid $color-bor;
    border-radius: $border-r;
    margin: 0 auto;

    & :hover {
        background-color: rgb(212, 255, 0);
    }
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 4px;
    padding-bottom: 4px;
}

.icons {
    width: 35px;
    height: 35px;
}

.misc {
    display: flex;
    background-color: antiquewhite;
    margin: 0 auto;
}

.nuevostitulos {
    display: inline-block;
    width: 100%;
    background-color: antiquewhite;
    padding: 5px;
}

#clientes {
    text-align: center;
}

#consorcios {
    text-align: center;
}

#top {
    text-align: center;
}

.foto {
    background-color: beige;
}

#consulta {
    background-color: blanchedalmond;
    width: 95%;
}

details {
    background-color: azure;
    padding: 0.3rem;
    border-radius: $border-r;
    margin: 0.5rem;
}

summary {
    list-style-type: circle;
}

#muñeco p {
    font-size: 15px;
}

#consulta {
    margin: 0 auto;
}

.muñequitos {
    border: 2px solid $color-bor;
    border-radius: $border-r;
    display: flex;
    width: 95%;
    height: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: left;
    margin-bottom: 3px;

}

.muñe {
    width: 95%;
    height: auto;
}